<nav class="navbar navbar-expand-lg navbar-light shadow-none p-3 bg-light rounded">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ml-2" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reimbursements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="bg-nav nav-link ml-2" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="bg-nav nav-link text-info" href="#">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help Center</a>
          </li>
        </ul>
      </div>
      <div class="ml-5 d-flex">
      <%= linkTo(rootPath(), {body: "Back", class: "btn btn btn-b text-white fast fas-angle-left"})%>
          <button class="btn btn-r text-white ml-2" type="button">Process Request</button>
       </div>
    </nav>
    <div class="d-flex row ml-4 mt-3">
    <p class="textbread">Device ></p>
    <p class="textbread">Wawandco ></p>
    <p class="textbread">Inventory ></p>
    <p>Line Details</p>
  </div>
  <div class="ml-4 pb-2">
    
    <p class="text-inv">Line OverView</p> 
    <div>
    <p class="text-inv">Phone Line Details</p>
    <hr>
  </div>
  </div>
    <div class="ml-2 d-flex">
        <div class="col-sm-2 text-bread">
            <p class="textbread">Line Status</p>  
            <p class="textbread">Carrier</p>
            <p class="textbread">Phone Number</p>
            <p class="textbread">Contract End Date</p>
            <p class="textbread">Eligible for Upgrade</p>
        </div>
       <div>
           <p>
            <%= if (line.Status == "Active") {%>
              <span class="badge bg-green"><%= line.Status %></span>
              <% } else if (line.Status == "Suspended") { %>
                <span class="badge2 bg-gray"><%= line.Status %></span>
              <% } else if (line.Status == "Forwarding calls"){ %>
                <span class="badge2 bg-blue"><%= line.Status%></span>
                <% } else if (line.Status == "Deactivated"){ %>
                <span class="badge2 bg-deactivated"><%= line.Status%></span>
                <% } else if (line.Status == "Pending activation"){ %>
                <span class="badge4 bg-pact"><%= line.Status%></span>
                <% } else if (line.Status == "Pending deact"){ %>
                <span class="badge5 bg-deact"><%= line.Status%></span>
                <% } else if (line.Status == "Pending susp"){ %>
                <span class="badge5 bg-deact"><%= line.Status%></span>
                <% } %>
            </p>
            <p> <%= line.Carrier %> </p>
            <p> <%= line.PhoneLine %>   </p>
            <p> <%= line.EndContractDate %></p>
            <p> <%= line.UpgradeEligibity %> </p>
    </div>
 </div>
<div class="ml-4 pb-2">
    <p class="text-inv">Associated Entities</p>
 <hr>
</div>

<div class="ml-2 d-flex ">
        <div class="col-sm-2 text-bread">
            <p class="textbread">User</p>  
            <p class="textbread">Device</p>
            <p class="textbread">Device IMEI</p>
        </div>   
        <div>
        <p> <%= line.User.FirstName + " " + line.User.LastName  %> </p>
            <p> <%= line.AssociatedDevice %>  </p>
            <p> 982939030309309</p>
        </div> 
 </div>
       <br>
<div>
<%= linkTo(editLinePath({id: line.ID}), {body: "Edit Line", class: "btn btn-primary ml-3"})%>
<%= linkTo(lineDeletePath({id: line.ID}), {body: "Delete", class: "btn btn-danger", data-method: "DELETE", data-confirm: "Are you sure you want to delete this line?"})%>
</div>


    