<nav class="navbar navbar-expand-lg navbar-light shadow-none p-3 bg-light rounded">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ml-2" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reimbursements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="bg-nav nav-link ml-2" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="bg-nav nav-link text-info" href="#">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help Center</a>
          </li>
        </ul>
      </div>
      <div class="ml-5">
      <%= linkTo(newUserPath(), {body: "Add Resource", class: "btn btn-r text-white"})%>
         
       </div>
    </nav>
 <div class="d-flex row ml-4 mt-3">
    <p class="textbread">Device ></p>
    <p class="textbread">Wawandco ></p>
    <p class="textbread">Inventory ></p>
    <p>Users</p>
  </div>
  <div class="text-inv ml-4 pb-3">
    <p>Inventory</p>
  </div>  
    <div class="d-flex ml-1">
      <p class="text-d">devices</p>
      <u class="text-l">users</u>
    </div>
    <hr>
    <div class="navbar navbar-light justify-content-between">
      <a class="navbar-brand ml-2">Users</a>
      <form class="form-inline filter-s">
        <input class="form-control mr-sm-3 fas fa-search" type="search" placeholder="Search (eg. by User, Carrier)" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Filters 
          <i class="fas fa-filter"></i>
        </button>
      </form>
    </div>
  <div class="container bg-light-white shadow col-sm-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" >First Name<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col">Last Name <i class="fa fa-fw fa-sort"></i></th>
          <th scope="col">Email <i class="fa fa-fw fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
      <%= for (user) in users { %>
          <tr>
            <td><%= user.FirstName %></td>
            <td><%= user.LastName %></td>
            <td><%= user.Email %></td>
            <td>
            <td>
     <div class="btn-group dropleft">
      <button type="button" class="btn" data-toggle="dropdown" aria-expanded="false">
     <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="/users/<%= user.ID %>/show">View Details</a>
  </div>
</div>
   </td>
          </tr>
        <% } %>
      </tbody>
    </table>  
  </div>
